target
.idea
./components/protocol/src/generated/rpc_generated.rs
.DS_Store
components/protocol/src/generated/
pd/default.*
benchmark/logs/
sdks/java/flatc
logs
default.pd*

# Makefile output
/.flatc
/.dist
/dist/*.deb
