[workspace]
# See https://github.com/rust-lang/rfcs/blob/master/text/2957-cargo-features2.md
# Without resolver = 2, using `cargo build --features x` to build `cmd`
# will _not_ propagate the feature `x` into `cmd`'s direct dependencies.
resolver = "2"
members = [
    "components/codec",
    "components/transport",
    "placement-manager",
    "data-node",
    "front-end-sdk"
]

[workspace.dependencies]
byteorder = "1"
bytes = "1"
core_affinity = "0.7"
crc = "3.0"
monoio = { version = "0.0", features = ["splice"] }
num_cpus = "1"
thiserror = "1.0"
crossbeam = "0.8"
clap = { version = "4.0", features = ["derive"] }
num_enum = "0.5"
dashmap = "5.4"
seahash = "4.1"

flatbuffers = "22.10"

# Raft
raft = "0.6"

# Logging
slog = { version = "2.7", features = ["max_level_trace", "release_max_level_warn"] }
slog-async = "2.7"
slog-term = "2.9"

# Tokio ecosystem
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-subscriber = "0.3"

# RocksDB
# rocksdb = { version = "0.19", default-features = false, features = ["lz4"] }
