[package]
name = "replication"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
client = { path = "../client" }
config = { path = "../config" }
model = { path = "../model" }
protocol = { path = "../protocol" }
log = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-uring = { workspace = true }
itertools = { workspace = true }
bytes = { workspace = true }
local-sync = { workspace = true }
moka = { workspace = true }
