name: Build
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: ["master", "develop"]

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    outputs:
      java: ${{ steps.filter.outputs.java }}
      rust: ${{ steps.filter.outputs.rust }}
      pm: ${{ steps.filter.outputs.pm }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            java:
              - 'sdks/sdk-java/**'
              - 'components/protocol/fbs/*.fbs'
            rust:
              - 'data-node/**'
              - 'components/**'
              - 'sdks/rust/**'
            pm:
              - 'placement-manager/**'
              - 'components/protocol/fbs/rpc.fbs'
  java-build:
    needs: [paths-filter]
    if: ${{ needs.paths-filter.outputs.java == 'true' }}
    uses: ./.github/workflows/java_build.yml
  java-snapshot-release:
    needs: [java-build]
    if: false #${{ needs.paths-filter.outputs.java == 'true' }}
    uses: ./.github/workflows/java_snapshot_release.yml
  rust-build:
    needs: [paths-filter]
    if: ${{ needs.paths-filter.outputs.rust == 'true' }}
    uses: ./.github/workflows/rust_build.yml
  pm-build:
    needs: [paths-filter]
    if: ${{ needs.paths-filter.outputs.pm == 'true' }}
    uses: ./.github/workflows/pm_build.yml
  build-result:
    runs-on: ubuntu-latest
    needs: [java-build, rust-build, pm-build]
    if: ${{ always() }}
    steps:
      - uses: actions/checkout@v3
      - name: Collect build result
        run: |
          if echo java-${{ needs.java-build.result }},rust-${{ needs.rust-build.result }},pm-${{ needs.pm-build.result }} | grep -E 'cancelled|failure' -o > null
          then
            echo "There are failed/cancelled builds"
            exit 1 
          else
            echo "All builds are successful/skipped"
            exit 0
          fi
