name: Rust

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    env: 
      RUSTC_WRAPPER: sccache
      RUST_LOG: trace
    steps:
    - uses: actions/checkout@v3
    - name: Cache Cargo Crates
      uses: actions/cache@v3
      with: 
        path: |
          ~/.cache/sccache
        key: ${{ runner.os }}-cargo-build-${{ hashFiles('Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-build-
          ${{ runner.os }}-cargo-
    - name: Install Deps
      run: |
        ./scripts/install_deps.sh
    - name: Build
      run: cargo build
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    env:
      RUSTC_WRAPPER: sccache
      RUST_LOG: trace
    steps:
    - uses: actions/checkout@v3
    - name: Cache Cargo Crates
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/sccache
        key: ${{ runner.os }}-cargo-test-${{ hashFiles('Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-test-
          ${{ runner.os }}-cargo-
    - name: Install Deps
      run: |
        ./scripts/install_deps.sh
    - name: Run tests
      run: cargo test -- --nocapture
