name: Rust

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: trace

jobs:
  format:
    name: Cargo Fmt and Cargo Sort
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Prepare
      run: |
        ./scripts/install_deps.sh
        make .flatc
    - name: Code Format Check
      run: cargo fmt --all -- --check
    - name: Dependencies Sorted Check
      run: |
        cargo install cargo-sort
        cargo sort --check --workspace
  clippy:
    name: Cargo Clippy
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2.4.0
      with:
        prefix-key: ""
        env-vars: ""
    - name: Install Deps
      run: |
        ./scripts/install_deps.sh
    - name: Clippy Check
      uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features -- -D warnings
  build:
    name: Cargo Build
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2.4.0
      with:
        prefix-key: ""
        env-vars: ""
    - name: Install Deps
      run: |
        ./scripts/install_deps.sh
    - name: Build
      run: cargo build
  test:
    name: Cargo Test
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2.4.0
      with:
        prefix-key: ""
        env-vars: ""
    - name: Install Deps
      run: |
        ./scripts/install_deps.sh
    - name: Install Nextest
      uses: taiki-e/install-action@nextest
    - name: Run tests
      run: cargo nextest run --profile default
  coverage:
    name: Coverage
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.4.0
        with:
          prefix-key: ""
          env-vars: ""
      - name: Install Deps
        run: |
          ./scripts/install_deps.sh
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --all-features --workspace --ignore-filename-regex "generated|linux" --codecov --output-path codecov.json
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: codecov.json
          fail_ci_if_error: true
